<div class="ui {{exception_type}} message">
  <i class="close icon"></i>
  <div class="header">
    {{exception_title}}
  </div>
  <p>{{exception_message}}</p>
  <ul class="list">
    <li>{{exception_path}}:{{exception_line}}</li>
  </ul>
</div>